<% content_for(:title, "Resend confirmation instructions") %>

<% attributes = {method: :post, class: 'form-horizontal'} %>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: attributes) do |f| %>
	<legend>Resend Confirmation Instructions</legend>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="control-group">
		<%= f.label :email, class: 'control-label' %>
		<div class="controls">
			<%= f.email_field :email, class: 'input-xlarge' %>
		</div>
	</div>
	<div class="form-actions">
		<%= f.submit "Resend" %>
	</div>
<% end %>
