<% content_for(:title, "#{@task.name} - New Program") %>
<% content_for(:heading, "#{@task.name} - New Program") %>

<p>
	<%= link_to 'View Task', @task, class: 'btn' %>
	<% if can? :create, @program %>
		<%= link_to 'New Program', new_programming_task_program_path(@task), class: 'btn' %>
	<% end %>
</p>

<%= form_for([@task, @program], html: {class: 'form-horizontal'}) do |f| %>
	<legend>New Program</legend>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="control-group">
		<%= f.label :source_code, class: 'control-label' %>
		<div class="controls">
			<%= f.text_area :source_code, rows: 25, class: 'input-xxlarge' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :programming_language_id, class: 'control-label' %>
		<div class="controls">
			<%= f.select :programming_language_id, @languages.collect { |lang| [lang.name, lang.id] } %>
		</div>
	</div>

	<div class="form-actions">
		<%= f.submit "Submit", class: 'btn btn-primary' %>
	</div>
<% end %>
