<% content_for(:title, "#{@task.name} - Show Program") %>
<% content_for(:heading, "#{@task.name} - Show Program") %>

<p>
	<%= link_to 'View Task', @task, class: 'btn' %>
	<% if can? :create, @program %>
		<%= link_to 'New Program', new_programming_task_program_path(@task), class: 'btn' %>
	<% end %>
	<% if can? :destroy, @program %>
		<%= link_to 'Delete', [@task, @program], method: :delete, class: 'btn btn-danger' %>
	<% end %>
</p>

<div class="well">
	<table class="table">
		<tbody>
		<tr>
			<td>Programming Language</td>
			<td><%= @program.programming_language.name %></td>
		</tr>
		<% if @program.status_code %>
		<tr>
			<td>Status</td>
			<td>
				<strong class="label <%= status_label(@program.status_code.name) %>">
					<%= @program.status_code.name %></strong> -
				<%= @program.status_code.description %>
			</td>
		</tr>
		<% end %>
		<% if @program.user %>
		<tr>
			<td>User</td>
			<td><%= link_to @program.user.username, @program.user %></td>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>

<h3>Source Code</h3>
<pre><%= @program.source_code %></pre>

<% if @program.program_results.any? %>
<h3>Program Results</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Test#</th>
			<th width="40%">Expected</th>
			<th width="40%">Output</th>
			<th>Result</th>
		</tr>
	</thead>
	<tbody>
		<% hidden = 0 %>
		<% hidden_status = 'OK' %>
		<% @program.program_results.each do |result| %>
		<% unless result.programming_test_case.hidden %>
		<tr>
			<td><%= result.programming_test_case_id %></td>
			<td class="code"><%= result.programming_test_case.stdout.inspect %></td>
			<td class="code"><%= result.log.inspect %></td>
			<td>
				<strong class="label <%= status_label(result.status_code.name) %>">
					<%= result.status_code.name %></strong>
			</td>
		</tr>
		<% else %>
			<% hidden += 1%>
			<% hidden_status = result.status_code.name if result.status_code.name != 'OK' %>
		<% end %>
		<% end %>
		<tr>
			<td>&nbsp;</td>
			<td colspan="2">
				<%= pluralize hidden, 'Hidden Test Case' %>
			</td>
			<td>
				<strong class="label <%= status_label(hidden_status) %>">
					<%= hidden_status %></strong>
			</td>
		</tr>
	</tbody>
</table>
<% end %>
