<% content_for(:title, "#{@task.name} - Show Program") %>
<% content_for(:heading, "#{@task.name} - Show Program") %>

<p>
	<%= link_to 'View Task', @task, class: 'btn' %>
	<% if can? :create, @program %>
		<%= link_to 'New Program', new_programming_task_program_path(@task), class: 'btn' %>
	<% end %>
	<% if can? :destroy, @program %>
		<%= link_to 'Delete', [@task, @program], method: :delete, class: 'btn btn-danger' %>
	<% end %>
</p>

<table class="table table-striped">
	<tbody>
	<tr>
		<td>Programming Language</td>
		<td><%= @program.programming_language.name %></td>
	</tr>
	<% if @program.status_code %>
	<tr>
		<td>Status</td>
		<td>
			<strong class="label <%= status_label(@program.status_code.name) %>">
				<%= @program.status_code.name %></strong> -
			<%= @program.status_code.description %>
		</td>
	</tr>
	<% end %>
	<% if @program.user %>
	<tr>
		<td>User</td>
		<td><%= @program.user.email %></td>
	</tr>
	<% end %>
	</tbody>
</table>

<pre><%= @program.source_code %></pre>

<% if @program.program_results.any? %>
<p>Program Results</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Test#</th>
			<th>Expected</th>
			<th>Output</th>
			<th>Result</th>
		</tr>
	</thead>
	<tbody>
		<% @program.program_results.each do |result| %>
		<tr>
			<td><%= result.programming_test_case_id %></td>
			<td class="code"><%= result.programming_test_case.stdout.inspect %></td>
			<td class="code"><%= result.log.inspect %></td>
			<td>
				<strong class="label <%= status_label(result.status_code.name) %>">
					<%= result.status_code.name %></strong>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
