<% content_for(:title, "Edit Programming Language - #{@language.name}") %>
<% content_for(:heading, "Edit Programming Language - #{@language.name}") %>

<p>
	<%= link_to 'All Languages', programming_languages_path, class: 'btn' %>
	<%= link_to 'New Language', new_programming_language_path, class: 'btn' %>
	<%= link_to 'View Language', @language, class: 'btn' %>
	<%= link_to 'Delete', @language, method: :delete, class: 'btn btn-danger' %>
</p>

<%= form_for(@language, html: {class: 'form-horizontal'}) do |form| %>
	<legend>Programming Language</legend>
	<%= render 'form', f: form %>
	<div class="form-actions">
		<%= form.submit "Update Language", class: 'btn btn-primary' %>
	</div>
<% end %>
