<h1>Programming::Languages#edit</h1>
<p>View file app/views/programming/languages/edit.html.erb</p>

<p>
	<%= link_to 'All Languages', programming_languages_path, class: 'btn' %>
	<%= link_to 'New Language', new_programming_language_path, class: 'btn' %>
	<%= link_to 'View Language', @language, class: 'btn' %>
	<%= link_to 'Delete', @language, method: :delete, class: 'btn btn-danger' %>
</p>

<div class="row">
	<div class="span8 offset2">
		<%= form_for(@language) do |form| %>
			<%= render 'form', f: form %>
			<%= form.submit "Update Language", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
