<% content_for(:title, "Programming Language - #{@language.name}") %>
<% content_for(:heading, "Programming Language - #{@language.name}") %>

<p>
	<%= link_to 'All Languages', programming_languages_path, class: 'btn' %>
	<% if can? :create, ProgrammingLanguage %>
		<%= link_to 'New Language', new_programming_language_path, class: 'btn' %>
	<% end %>
	<% if can? :edit, @language %>
		<%= link_to 'Edit Language', edit_programming_language_path(@language), class: 'btn' %>
	<% end %>
	<% if can? :destroy, @language %>
		<%= link_to 'Delete', @language, method: :delete, class: 'btn btn-danger' %>
	<% end %>
</p>

<h3><%= @language.name %></h3>
<p>
	Compiler Command: <code><%= @language.compiler %></code>
</p>
<p>
	Execution Command: <code><%= @language.execution %></code>
</p>
<p>
	Available for submissions?
	<strong><%= @language.available?.to_s.capitalize %></strong>
</p>
