<% content_for(:title, "Resend unlock instructions") %>

<% attributes = {method: :post, class: 'form-horizontal'} %>
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: attributes) do |f| %>
	<legend>Resend unlock instructions</legend>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="control-group">
		<%= f.label :email, class: 'control-label' %>
		<div class="controls">
			<%= f.email_field :email, class: 'input-xlarge' %>
		</div>
	</div>
	<div class="form-actions">
		<%= f.submit "Resend", class: 'btn btn-primary' %>
	</div>
<% end %>
