<div id="homeCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#homeCarousel" data-slide-to="1"></li>
		<li data-target="#homeCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<div class="row">
				<h2>Programming Tasks</h2>
				<table class="table">
				<% @tasks.each do |task| %>
				<tr>
					<td><%= link_to task.name, task %></td>
					<td><%= pluralize(task.programs.count, 'submission') %></td>
					<td>
						<% if task.deadline.blank? %>
							No Deadline
						<% else %>
							<%= l task.deadline.to_date %>
						<% end %>
					</td>
				</tr>
				<% end %>
				</table>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<h2>Assignments</h2>
				<table class="table">
					<tr><td>None</td></tr>
					<tr><td>None</td></tr>
					<tr><td>None</td></tr>
					<tr><td>None</td></tr>
					<tr><td>None</td></tr>
				</table>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<h2>Leaderboard</h2>
				<table class="table">
				<% @leaders.each do |user| %>
				<tr>
					<td><%= link_to user.email, user %></td>
					<td><%= pluralize(user.submissions, 'submission') %></td>
				</tr>
				<% end %>
				</table>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
</div>

<h2>Popular Tags</h2>

<h2>Programming Languages</h2>
<ul class="icons">
	<% @languages.each do |language| %>
	<li>
		<a href="<%= url_for(language) %>" title="<%= language.name %>">
			<img src="<%= image_path(language.icon) %>" class="img-polaroid" alt="<%= language.name %>" />
		</a>
	</li>
	<% end %>
</ul>

