<%= render 'shared/error_messages', object: f.object %>

<fieldset>
	<div class="control-group">
		<%= f.label :name, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :name, class: 'input-xlarge' %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :statement, class: 'control-label' %>
		<div class="controls">
			<%= f.text_area :statement, rows: 10, class: 'input-xxlarge' %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :input_format, class: 'control-label' %>
		<div class="controls">
			<%= f.text_area :input_format, rows: 10, class: 'input-xxlarge' %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :memory_limit, class: 'control-label' %>
		<div class="controls">
			<div class="input-append">
				<%= f.number_field :memory_limit, min: 1, class: 'input-xlarge' %>
				<span class="add-on">megabyte</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :time_limit, class: 'control-label' %>
		<div class="controls">
			<div class="input-append">
				<%= f.number_field :time_limit, min: 1, class: 'input-xlarge' %>
				<span class="add-on">second</span>
			</div>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Languages Available</legend>
	<%= f.fields_for :programming_language_ids do |builder| %>
		<div class="control-group">
			<div class="controls">
			<% lang_ids = @task.programming_language_ids %>
			<% @languages.each do |lang| %>
				<%= builder.check_box lang.id, checked: lang_ids.include?(lang.id), class: 'pull-left' %>
				<%= builder.label lang.id, lang.name, class: 'checkbox' %>
			<% end %>
			</div>
		</div>
	<% end %>
</fieldset>

<fieldset>
	<legend>Test Cases</legend>
	<%= f.fields_for :programming_test_cases do |builder| %>
		<div class="control-group">
			<%= builder.label :stdin, class: 'control-label' %>
			<div class="controls">
				<%= builder.text_area :stdin, rows: 5, class: 'input-xxlarge' %>
			</div>
		</div>
		<div class="control-group">
			<%= builder.label :stdout, class: 'control-label' %>
			<div class="controls">
				<%= builder.text_area :stdout, rows: 5, class: 'input-xxlarge' %>
			</div>
		</div>
	<% end %>
</fieldset>
