<h2>Programming::Tasks#edit</h2>
<p>View file app/views/programming/tasks/edit.html.erb</p>

<p>
	<%= link_to 'All Tasks', programming_tasks_path, class: 'btn' %>
	<%= link_to 'New Task', new_programming_task_path, class: 'btn' %>
	<%= link_to 'View Task', @task, class: 'btn' %>
	<%= link_to 'Delete', @task, method: :delete, class: 'btn btn-danger' %>
</p>

<div class="row">
	<div class="span6 offset2">
		<%= form_for(@task) do |form| %>
			<%= render 'form', f: form %>
			<%= form.submit "Update Task", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
