<% content_for(:title, "Edit Programming Task - #{@task.name}") %>
<% content_for(:heading, "Edit Programming Task - #{@task.name}") %>

<p>
	<%= link_to 'All Tasks', programming_tasks_path, class: 'btn' %>
	<%= link_to 'New Task', new_programming_task_path, class: 'btn' %>
	<%= link_to 'View Task', @task, class: 'btn' %>
	<%= link_to 'Delete', @task, method: :delete, class: 'btn btn-danger' %>
</p>

<%= form_for(@task, html: {class: 'form-horizontal'}) do |form| %>
	<legend>Programming Task</legend>
	<%= render 'form', f: form %>
	<div class="form-actions">
		<%= form.submit "Update Task", class: 'btn btn-primary' %>
	</div>
<% end %>
