<% content_for(:title, "New Programming Task") %>
<% content_for(:heading, "New Programming Task") %>

<p>
	<%= link_to 'All Tasks', programming_tasks_path, class: 'btn' %>
	<%= link_to 'New Task', new_programming_task_path, class: 'btn' %>
</p>

<%= form_for(@task, html: {class: 'form-horizontal'}) do |form| %>
	<legend>Programming Task</legend>
	<%= render 'form', f: form %>
	<div class="form-actions">
		<%= form.submit "Create Task", class: 'btn btn-primary' %>
	</div>
<% end %>
