<% content_for(:title, "Programming Task - #{@task.name}") %>
<% content_for(:heading, "Programming Task - #{@task.name}") %>

<p>
	<%= link_to 'All Tasks', programming_tasks_path, class: 'btn' %>
	<% if can? :create, ProgrammingTask %>
		<%= link_to 'New Task', new_programming_task_path, class: 'btn' %>
	<% end %>
	<% if can? :edit, @task %>
		<%= link_to 'Edit Task', edit_programming_task_path(@task), class: 'btn' %>
	<% end %>
	<% if can? :destroy, @task %>
		<%= link_to 'Delete', @task, method: :delete, class: 'btn btn-danger' %>
	<% end %>
	<% if can? :create, Program %>
		<%= link_to 'Submit Program', new_programming_task_program_path(@task), class: 'btn' %>
	<% end %>
</p>

<h3><%= @task.name %></h3>

<div class="row">
	<div class="span8">
		<p><strong>Problem Statement:</strong></p>
		<div class="well">
			<%= simple_format @task.statement %>
		</div>
		<p><strong>Resource Limits:</strong></p>
		<table class="table">
			<tr>
				<td>Memory:</td>
				<td width="60%">
					<div class="progress progress-striped" style="margin: 0">
						<div class="bar" style="width: <%= @task.memory_limit / 10.0 %>%"></div>
					</div>
				</td>
				<td><%= @task.memory_limit %> megabyte</td>
			</tr>
			<tr>
				<td>Time:</td>
				<td>
					<div class="progress progress-striped" style="margin: 0">
						<div class="bar" style="width: <%= @task.time_limit * 1.66 %>%"></div>
					</div>
				</td>
				<td><%= @task.time_limit %> second</td>
			</tr>
		</table>
		<p><strong>Available Languages:</strong></p>
		<ul class="icons icons-mini">
			<% @task.programming_languages.each do |language| %>
			<li>
				<a href="<%= url_for(language) %>" title="<%= language.name %>">
					<img src="<%= image_path(language.icon) %>" class="img-polaroid" alt="<%= language.name %>" />
				</a>
			</li>
			<% end %>
		</ul>

	</div>
	<div class="span4">
		<p><strong>Program Submissions:</strong></p>
		<div class="well">
			<p>
				Deadline:
				<% if @task.deadline.blank? %>
					<span class="label label-info">No Deadline</span>
				<% elsif @task.deadline < Time.zone.now %>
					<span class="label"><%= l @task.deadline.to_date %></span>
				<% elsif @task.deadline - Time.zone.now < 1.day %>
					<span class="label label-important"><%= l @task.deadline.to_date %></span>
				<% else %>
					<span class="label label-warning"><%= l @task.deadline.to_date %></span>
				<% end %>
			</p>
			<% if @task.programs.count > 0 %>
			<table class="table">
			<thead>
				<tr>
					<th>Solution</th>
					<th>Language</th>
				</tr>
			</thead>
			<tbody>
			<% @task.programs.each do |program| %>
			<tr>
				<td><%= link_to "Submission #{program.id}", [@task, program] %></td>
				<td><%= link_to program.programming_language.name, program.programming_language %></td>
			</tr>
			<% end %>
			</tbody>
			</table>
			<% else %>
				No solutions have been submitted. Be the first one to submit!
			<% end %>
		</div>
	</div>
</div>

<h4>Test Cases</h4>

<% @task.programming_test_cases.each do |testcase| %>
<div class="row">
	<div class="span6">
		<p><strong>Test Case Input:</strong></p>
		<pre><%= testcase.stdin %></pre>
	</div>
	<div class="span6">
		<p><strong>Expected Output:</strong></p>
		<pre><%= testcase.stdout %></pre>
	</div>
</div>
<% end %>
