<div class="navbar">
	<div class="navbar-inner">
		<div class="span12">
		<a class="brand" href="<%= url_for root_path %>">Instant|Eval</a>
		<ul class="nav pull-right">
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Languages', programming_languages_path %></li>
			<li><%= link_to 'Problems', programming_tasks_path %></li>
			<li><%= link_to 'Assignments', '#' %></li>
			<li><%= link_to 'Tags', '#' %></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Account
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<% if user_signed_in? %>
						<li><%= link_to current_user.email, current_user %></li>
						<li class="divider"></li>
						<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to 'Register', new_user_registration_path %></li>
						<li><%= link_to 'Login', new_user_session_path %></li>
					<% end %>
				</ul>
			</li>
		</ul>
		</div>
	</div>
</div>
