<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Languages', programming_languages_path %></li>
				<li><%= link_to 'Problems', programming_tasks_path %></li>
				<li><%= link_to 'Assignments', '#' %></li>
				<li><%= link_to '', '#' %></li>
			</ul>
			<ul class="nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to current_user.email, edit_user_registration_path %></li>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Register', new_user_registration_path %></li>
				<li><%= link_to 'Login', new_user_session_path %></li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
