<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) : "PublicApp" %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<div class="row">
			<div class="span2">
				<h1 class="brand">InstantEval</h1>
				<p><em>
					A system for real-time evaluation of small application programs.
				</em></p>
			</div>
				<div class="span10">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<% if content_for?(:heading) %>
					<h2><%= yield(:heading) %></h2>
				<% end %>
				<%= yield %>
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
